.search-near {
    pointer-events: all;
}

.search-near button {
    width: 62px;
    height: 62px;
    border-radius: 100px;
    background: rgb(244, 230, 65) none repeat scroll 0% 0%;
    color: black;
}

.search-near button.loading {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}